.home-input {
  position: absolute;
  top: 20px;
  left: 150px;
  border-radius: 25px;
  width: 250px;
  height: 35px;
  font-size: 16px;
  border-color: white;
  font-family: Roboto;
}

.home-input:active {
  border-color: blue;
}
